<div class='side-bar'>
  <nav>
    <a href='/'>Home</a>
<% if @user %>
    <a href='/user'>My Page</a>
<% else %>
    <a href='/sign_up'>Sign Up</a>
<% end %>
  </nav>
</div>
<div>
  <h3>Login</h3>
  <form method="POST" action="/login">
    <label for="handle">Handle</label>
    <input type="text" name="handle"><br>
    <label for="password">Password</label>
    <input type="password" name="password"><br>
    <input type="submit">
  </form>
</div>
<div>
  <h3>Logout</h3>
  <form method="POST" action="/logout">
    <input type="submit">
  </form>
</div>
<div>
  <h2>Welcome <%= @user ? @user.fname : "Guest" %></h2>
</div>

<% @posts.reverse.take(10).each do |post| %>

<div class='home-posts'>
  <form method="POST" action="/other_user">
    <input type="hidden" name="other_user_handle" value=<%= User.getHandle(post.user_id) %>>
    <button>
      <p><%= User.getHandle(post.user_id) %></p>
    </button>
  </form>
  <p><%= post.message %></p>
  <p><%= post.created_at %></p>
  <form method="POST" action="/follow_other_user" >
    <label for"followed_id">Follow</label>
    <input type="hidden" name="followed_id" value=<%= post.user_id %>>
    <input type="submit">
  </form>
  <form method="POST" action="/unfollow_other_user" >
    <label for"followed_id">Unfollow</label>
    <input type="hidden" name="followed_id" value=<%= post.user_id %>>
    <input type="submit"><br>
  </form>
</div>

<% end %>

