<div class="user-wrapper">
  <div>
    <h2><%= @other_user.handle %></h2>
  </div>
  <div>
    <p><%= @other_user.fname + " " + @other_user.lname %></p>
    <p><%= @other_user.email %></p>
  </div>
</div>
<div class="posts_wrap">
  <% @posts.reverse.each do |post| %>
    <div class='individual-posts'>
      <div class='users_post_message'>
        <p><%= post.message %></p>
      </div>
      <div class="post_date">
        <p><%= post.created_at.localtime.strftime("%a %b %d %Y %I:%M:%S %p") %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="follower-list-wrapper">
  <div class='follower-list'>
    <h4>Following</h4>
    <% @following.each do |following| %>
    <form method="POST" action="/other_user">
      <input type="hidden" name="other_user_handle" value=<%= User.getHandle(following.followed_id) %>>
      <button class="handle-button-user-page">
        <%= User.getHandle(following.followed_id) %>
      </button>
    </form>
    <% end %>
  </div>
  <div class='follower-list'>
    <h4>Followers</h4> <% @followers.each do |followers| %>
    <form method="POST" action="/other_user">
      <input type="hidden" name="other_user_handle" value=<%= User.getHandle(followers.follower_id) %>>
      <button class="handle-button-user-page">
        <%= User.getHandle(followers.follower_id) %>
      </button>
    </form>
    <% end %>
  </div>
</div>
